* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
background: url("pics/IMG_0718.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 10px;
}
.navbar {
  display: flex;
  padding: 22px 0;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}
.navbar .hamburger-btn {
  display: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
}
.navbar .logo {
  gap: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.navbar .logo img {
  width: 100px;
  border-radius: 50%;
}
.navbar .logo h2 {
  color: #fff;
  font-weight: 600;
  font-size: 1.7rem;
}
.container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:20px;
  padding-bottom: 60px;
}
